<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Product</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
        function successHandler(){
            $.ajax({
                url:"/api/products",
                type:"GET",
                success:function (data){
                    let str = "    <tr>\n" +
                        "        <td>Name</td>\n" +
                        "        <td>Price</td>\n" +
                        "        <td>Quantity</td>\n" +
                        "        <td>Color</td>\n" +
                        "        <td>Description</td>\n" +
                        "        <td>Category</td>\n" +
                        "    </tr>"
                    for (let i=0; i<data.length; i++) {
                        str+=`<tr><td >${data[i].name}</td><td >${data[i].price}</td><td>${data[i].quantity}</td>${data[i].color}<td>${data[i].description}</td><td>${data[i].category.name}</td>` +
                            `<td><a class="deleteProduct" href="${data[i].id}">Delete</a></td>`+`<td><a class="viewProduct" href="${data[i].id}">View</a></td>`+`</tr>`;
                    }
                    document.getElementById('productList').innerHTML =str;
                }
            });
        }
    </script>
</head>
<body  onload="successHandler()">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <div class="container">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <table id="productList"></table>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>